.App {
  text-align: center;
  width: 100%;
}

.appbar {
  height: 66px;
  border-bottom: 2px groove;
  background-color: #FEFEFE;
  text-align: center;
  position: static;
}

.sidebar {
  /* width: 160px; */
  height: calc(100vh - 50px);
  background-color: #FEFEFE;
}

body {
  background-color: #1E1E1E;
  background-image: radial-gradient(gray 1px, transparent 0);
  background-size: 30px 30px;
  background-position: -10px 0px;
  /* min-width: 400px; */
  overflow-x: hidden;
}

/* backgroundColor: "#1E1E1E",
          backgroundImage: "radial-gradient(gray 1px, transparent 0)",
          backgroundSize: "30px 30px",
          backgroundPosition: "-10px 0px", */